*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-areas: "result content__details";
  align-items: end;
  margin: 133px 30px;
  gap: 30px;
  height: fit-content;
}

.result {
  grid-area: result;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: auto;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  align-items: end;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.search-form__textfield {
  width: 100%;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  appearance: none;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.search-form__textfield:active {
  outline: none;
  border: 1px solid #fff;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 20px;
}

.search-form__label {
  display: flex;
  gap: 6px;
  align-items: center;
}

.search-form__pseudo-checkbox {
  width: 15px;
  height: 15px;
  background-color: transparent;
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__fieldset:has(.search-form__checkbox) {
  margin-bottom: 5px;
}

.search-form__pseudo-checkbox:hover {
  cursor: pointer;
}

input[type="checkbox"]:checked + span {
  border: 1px solid transparent;
  background-color: #fff;
}

.search-form__label:focus-within {
  outline: 1px solid #fff;
  outline-offset: 3px;
}

.search-form__label:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.button {
  padding: 6px 74px;
  border: 1px solid #fff;
  background-color: transparent;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__details {
  grid-area: content__details;
  width: 399px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow-y: auto;
  padding: 0 0 2px 2px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  display: block;
  width: fit-content;
}

.content__list-item:active {
  background-color: #545050;
}

.content__list-item:hover {
  text-underline-offset: 4px;
  text-decoration: underline;
}

.content__list-item:focus-within {
  outline: 1px solid #fff;
}

.content__card-link {
  text-decoration: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__video-card {
  display: grid;
  grid-template-columns: 196px 194px;
}

.content__video-card-description-container {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  line-clamp: none;
  line-height: 16px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  margin-top: 30px;
  padding: 6px 142px;
}
